<html>
    <head>
        <title>Varsha's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Varsha's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi everyone! Welcome to my blog! I'm Varsha.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm a incoming junior in High School South and my plans for the future are to major in Computer Science. </p>
        </div>
    </body>
</html>